<h1>Diagnoses</h1>

<% @diagnoses.each do |diagnosis| %>
  <ul>
    <li><%= diagnosis.name %></li>
  </ul>
<% end %>

<h3>Please consider the following Diet Suggestions</h3>
<h4>Doc Says...</h4>
<p>Avoid these foods:</p>

<p>And eat these:</p>
