<div class='diagnosis-index-container'>

<h1 class='diagnoses-header'>Diagnoses</h1>

<% @diagnoses.each do |diagnosis| %>
    <p class='diagnoses-list'><%= link_to diagnosis.name, patient_diagnosis_path(id: diagnosis.id) %></p>
<% end %>

</div>
