<h2>Add Diagnosis</h2>

<%= form_for(@diagnoses, url: patient_diagnoses_path) do |f| %>
 <div class = "field"><%= f.label :name %>
 <%= f.text_field :name %>

<%= f.submit %>
<% end %>

<h2>Add Diet Suggestions</h2>
