<h1>Your Diagnosis</h1>

<h3><%= @patient.diagnosis %></h3>
<p><%= link_to "Add Diet", new_patient_diagnosis_diet_path %></p>

<h2>Doc Says...</h2>
<p>Avoid these foods:</p>
  <% @diagnosis.diet.avoid.each do |avoid| %>
    <ul>
      <li><%= avoid %></li>
    </ul>
  <% end %>
<p>And eat these:</p>
  <% @diagnosis.diet.eat.each do |avoid| %>
    <ul>
      <li><%= avoid %></li>
    </ul>
  <% end %>
