<h1>Your Diagnosis</h1>

<h3><%= @patient.diagnosis %></h3>

<h4>Doc Says...</h4>
<p>Avoid these:</p>
  <% @diagnosis.diet.avoid.each do |avoid| %>
    <ul>
      <li><%= avoid %></li>
    </ul>
  <% end %>

<p>And eat these:</p>
  <% @diagnosis.diet.eat.each do |eat| %>
    <ul>
      <li><%= eat %></li>
    </ul>
  <% end %>
