<h1 class='recipes-header'>Recipes!</h1>

  <div class='recipe-container'>
    <% @myList.each do |recipe| %>
      <% if recipe != nil %>
        <ul>
          <li class='recipe'><%= image_tag recipe.image, class: 'recipe-image' %> <%= link_to recipe.name, recipe.url, class: 'recipe-name' %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
