
<div class="home">
<h1>DocSays!</h1>

<h3>Are you a Doctor or a Patient?</h3>

<p><%= link_to 'Doctor', new_doctor_session_path, class: 'btn btn-primary' %>  <%= link_to 'Patient', new_patient_session_path, class: 'btn btn-primary' %></p>

</div>

