<h1>DocSays!</h1>

<h3>Are you a Doctor or a Patient?</h3>

<p><%= link_to 'Doctor', new_doctor_session_path %> | <%= link_to 'Patient', new_patient_session_path %></p>

<p><%= link_to "Sign up", new_doctor_registration_path %></p>
