<%= stylesheet_link_tag "home" %>
<div class="home">

    <h1 class='doc-says-header'>DocSays!</h1>

    <h3 class='home-query'>Are you a doctor or a patient?</h3>

    <div class='btn-wrapper'>
        <%= link_to 'Doctor', new_doctor_session_path, class: 'btn-home' %>  <%= link_to 'Patient', new_patient_session_path, class: 'btn-home' %>
    </div>

</div>
