<link rel="stylesheet" href="../assets/stylesheets/home.scss">
<div class="home">

<h1 class='doc-says-header'>DocSays!</h1>

<h3 class='home-query'>Are you a Doctor or a Patient?</h3>

<p><%= link_to 'Doctor', new_doctor_session_path, class: 'btn btn-primary btn-lg' %>  <%= link_to 'Patient', new_patient_session_path, class: 'btn btn-primary btn-lg' %></p>

</div>
