
<h1>Patients</h1>

<p>
<%= link_to 'Add New Patient', new_patient_path %></p>

<div class = "tile-container">


<%= render 'patients', patient: patient %>
<p> <button type ="button"><%= link_to 'Edit', edit_patient_review_path(@patient) %> </button>
    <button type ="button" <%= link_to 'Delete', patient_review_path(@patient, review), method: :delete, data: {confirm: "Are you sure?" } %> </button>
</p>
<%end%>
</div>
