
<div class = "tile">
<h3 class = "patient_name"><%=link_to patient.name, patient_path(patient)%></h3>
<!-- <h2 class = "price"> Price range: <%=restaurant.price_range%></h2> -->

<%# <img src="<%=restaurant.menu %>"alt="<%=restaurant.name%>"> %>
</div>
