<ul>
  <%= image_tag @patient.image.url(:thumb), :class => 'avatar-1' %>

  <div class="patient-list">
      <% @patients.each do |patient| %>
        <li><%= link_to patient.name, patient_path(patient) %></li>

<% end %>
</ul>
