<h1>Doctor Homepage</h1>

<p>
<%= link_to 'Add New Patient', new_patient_path %></p>

<div class = "tile-container">
  <% @patients.each do |patient| %>

<%= render 'All Patients', patient_path(@patient)%><%end%>
</div>
