
<h1 class='diet-header'><%= @diet.name %></h1>

<h2 class='doc-says-header'>Doc Says...</h2>
  <div class='doc-says-container'>
    <p class='diet-avoid'>Avoid these foods:</p>
      <ul class='ul-diet-avoid'>
        <li><%= @diet.avoid %></li>
      </ul>

    <p class='diet-eat'>And eat these:</p>
      <ul class='ul-diet-eat'>
        <li><%= @diet.eat %></li>
      </ul>
  </div>
