/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";

* {
  font-family: "Helvetica Neue", sans-serif;
}

.nav-container {
  background: linear-gradient(to right, #377ad3, #8de0fc);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 45px;
}

.logo {
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

.logo a {
  color: #fff;
}

.logo a:hover {
  text-decoration: none;
}

.top-nav-link {
  margin-top: 10px;
}

.logout-nav-link {
  padding-bottom: 10px;
}

.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  width: 100%;
  top: 100%;
  left: 0;
  background: #f1f1f1;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  text-decoration: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.doc-says-header {
  font-family: "Major Mono Display", monospace;
  font-size: 50px;
  padding-bottom: 25px;
}

.home {
  padding: 150px;
  text-align: center;
  font-size: 30px;
}

.home-query {
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 2px;
}

.alert-container {
  text-align: center;
}

.users-show {
  margin-top: 65px;
  text-align: center;
}

.user-name-header {
  margin-top: 10px;
  margin-bottom: 5px;
}

.doctor-specialization {
  padding-bottom: 20px;
}

.patient-diagnosis {
  font-size: 15px;
}

#form-control-bar {
  align: center;
  width: 150px;
  font-size: 13px;
}

.diagnosis-diet-link {
  font-size: 18px;
}

#filterInput {
  padding: 5px;
  width: 175px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 2px solid #000;
}

#search-submit-button {
  width: 60px;
  font-size: 13px;
}

.diagnosis-index-container {
  margin-top: 65px;
  text-align: center;
}

.diagnoses-header {
  font-size: 35px;
}

.diagnoses-list {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  width: 100px;
}

.diagnoses-list-index {
  font-size: 20px;
}

.new-diagnosis-container {
  margin-top: 65px;
}

.diet-header {
  font-size: 35px;
  text-align: center;
}

.doc-says-header {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}

.doc-says-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 250px;
  grid-template-rows: 50px 50px;
  padding-top: 5px;
}

.recipe-search-header {
  padding-bottom: 10px;
}

.new-diet-container {
  text-align: center;
}

.diet-avoid {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: rgb(50, 133, 247);
  grid-column-start: 1;
  grid-row-start: 1;
}

.diet-eat {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: rgb(50, 133, 247);
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
}

.ul-diet-avoid {
  font-size: 18px;
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: center;
}

.ul-diet-eat {
  font-size: 18px;
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: center;
}

.recipes-header {
  font-size: 35px;
  text-align: center;
  padding-bottom: 13px;
}

.recipe-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px;
}

.recipe-image {
  height: 100px;
  width: 100px;
}

.recipe {
  display: flex;
  justify-content: left;
  grid-column-start: 1;
  border: 1px solid #999999;
}

.recipe-name {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

li {
  list-style-type: none;
}

.nav-item {
  list-style-type: none;
}
.avatar {
  border-radius: 50%;
  border: 1px solid #5c6690;
}

.avatar-1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #5c6690;
  grid-row-start: 1fr;
  align-self: end;
}

.picture {
  text-align: center;
  grid-row-start: 1;
}

.patient-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 50px;
}

.patients-container {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.patient-name {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.patient-1 {
  font-size: 20px;
  grid-row-start: 2;
  align-self: center;
  // justify-item: center;
}

.nav-item {
  text-align: right;
}

.nav-links {
  color: white;
  font-size: 15px;
  padding: 10 px;
  padding-right: 15px;
}

a:link {
  text-decoration: none;
}

.nav-links-1 {
  color: white;
  font-size: 15px;
  float: right;
  text-decoration: none;
}

.bar {
  width: 100px;
}

#doctor_remember_me {
  margin-left: -12px;
}
#patient_remember_me {
  margin-left: -12px;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 30px auto minmax(300px, 4fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
    display: flex;
  }

  nav {
    position: relative;
    text-align: right;
    padding-top: 10px;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    margin-top: 0.35em;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  .top-nav-link {
    margin-top: 0;
  }

  nav a::before {
    content: "";
    display: block;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
