/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";

.patients-show{
  padding: 100px;
  text-align: center;
}

.patient-name-header{
  padding: 10px;
}

#form-control-bar{
  align: center;
  width: 150px;
  font-size: 13px;
}

.diagnosis-diet-link{
  font-size: 18px;
}

#search-submit-button{
  width: 60px;
  font-size: 13px;
}

.diagnosis-index-container{
  text-align: center;
}

.diagnoses-header{
  font-size: 35px;
}

.ul-diagnoses-list{
  text-align: center;
}

.diagnoses-list{
  padding-top: 10px;
  padding-left: 473px;
  font-size: 20px;
  width: 100px;
}

.diagnoses-list-index{
  font-size: 20px;
}

.diet-header{
  font-size: 35px;
  text-align: center;
}

.doc-says-header{
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}

.doc-says-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 50px;
  padding-top: 5px;
}

.diet-avoid{
  display: flex;
  justify-content: center;
  font-size: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.diet-eat{
  display: flex;
  justify-content: center;
  font-size: 20px;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
}

.ul-diet-avoid{
  font-size: 18px;
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: center;
}

.ul-diet-eat{
  font-size: 18px;
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: center;
}

.recipes-header{
  font-size: 35px;
  text-align: center;
  padding-bottom: 13px;
}

.recipe-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 500px;
}

.recipe-image{
  height: 100px;
  width: 100px;
}

.recipe{
  display: flex;
  justify-content: left;
  grid-column-start: 1;
  border: 2px solid #999999;
}

.recipe-name {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}


.b-1{
  font-size: 10px;
}

.home{
  padding: 200px;
  text-align: center;
  font-size: 30px;
}


.klass{
  font-size: 18px;
}

li{
  list-style-type:none;
}
.nav-item{
  list-style-type: none;
}
.avatar{
   border-radius: 50%;
   border: 1px solid #5C6690;

}

.avatar-1{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #5C6690;
  grid-row-start: 1fr;
  align-self: end;


}

.picture {
  text-align: center;
  grid-row-start: 1;

}

.patient-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding:50px;

}

.box{
  padding: 10px;
  border: 1px solid #5C6690;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

}
.patient-1{
  font-size: 20px;
  grid-row-start: 2;
  align-self: center;
  justify-item: center;
}

.nav-item{
  text-align: right;
}

.nav-links{
  color:  white;
  font-size: 15px;
  padding: 10 px;
  padding-right: 15px;
}

a:link {
  text-decoration: none; }

.nav-links-1{
  color:  white;
  font-size: 15px;
  float: right;
  text-decoration: none;

}

.bar{
  width: 100px;
}

#doctor_remember_me{
  margin-left: -12px;
}
#patient_remember_me{
  margin-left: -12px;
}
