/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

nav {
  background: linear-gradient(to right, #377ad3, #8de0fc);
  position: relative;
  left: initial;
  display: grid;
  grid-template-columns: 30px auto 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
}

.logo {
  position: absolute;
  padding: 7px;
  grid-column-start: 2;
}

.logo a {
  color: rgb(226, 226, 226);
  position: absolute;
}

.logo a:hover {
  text-decoration: none;
}

.nav-links {
  grid-column-start: 3;
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin: 0;
  top: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

.alert-container {
  text-align: center;
}

.users-show {
  margin-top: 30px;
  text-align: center;
}

.user-name-header {
  color: #377ad3;
  margin-top: 15px;
  margin-bottom: 5px;
}

input .btn {
  background-image: linear-gradient(to right, #377ad3, #8de0fc);
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
}

.form-button {
  background-image: linear-gradient(to right, #377ad3, #8de0fc);
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
}

#form-control-bar {
  align: center;
  width: 150px;
  font-size: 13px;
}

.diagnosis-diet-link {
  font-size: 18px;
}

#filterInput {
  padding: 5px;
  width: 175px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ebebeb;
}

#search-submit-button {
  width: 60px;
  font-size: 13px;
}

.recipe-search-header {
  padding-bottom: 10px;
}

.recipes-header {
  font-size: 35px;
  text-align: center;
  padding-bottom: 13px;
}

.recipe-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 500px;
}

.recipe-image {
  height: 100px;
  width: 100px;
}

.recipe {
  display: flex;
  justify-content: left;
  grid-column-start: 1;
  border: 1px solid #999999;
}

.recipe-name {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

li {
  list-style-type: none;
}

.avatar {
  border-radius: 50%;
  height: 115px;
  width: 115px;
}

.avatar-1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  grid-row-start: 1fr;
  align-self: end;
}

#doctor_remember_me {
  margin-left: -12px;
}
#patient_remember_me {
  margin-left: -12px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  .logo {
    grid-column: 2/3;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 10vh;
    background: linear-gradient(to right, #377ad3, #8de0fc);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    text-transform: uppercase;
    opacity: 0;
  }

  .burger {
    display: block;
    grid-column: 3/4;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
