// Place all the styles related to the diagnosis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #fcfcfc;
}

.diagnosis-index-container {
  margin-top: 35px;
  text-align: center;
}

.img-heart {
  height: 18%;
  width: 18%;
  margin-bottom: 2.5vh;
}

.new-diagnosis-container {
  margin-top: 8vh;
  text-align: center;
}

.add-diagnosis-header {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  color: #53475e;
  margin-bottom: 2.5vh;
}

.diagnosis-name {
  font-size: 15px;
  margin: 7px 0;
  padding-right: 2px;
}

#diagnosis_name {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  border: none;
  border-bottom: 0.15vh solid #655a76;
  background-color: rgba(92, 63, 120, 0);
  border-radius: 0;
  padding: 0.5em;
  text-align: center;
  color: #53475e;
}

#diagnosis_name::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: #53475e;
}

.field {
  margin: 5px 0;
  padding: 3px;
}

input {
  background-color: #53475e;
  width: 100%;
  padding: 1.5vh;
  border: none;
  border-radius: 0.2vh;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1vh;
}

.img-medical-record {
  width: 20%;
  margin-bottom: 15px;
}

.diagnoses-list-container {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  margin-top: 20px;
  align-content: center;
  align-items: center;
}

.diagnoses-list {
  background-image: linear-gradient(to right, #4d3861, #cdc6ff);
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 0;
}

.diagnosis {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diagnosis a {
  color: rgb(226, 226, 226);
}

.diagnosis-name {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.diagnosis a:hover {
  text-decoration: none;
  color: #5c3f78;
}

.arrow {
  grid-column: 2/3;
}

.img-arrow-right {
  width: 40px;
  margin: 0;
  padding: 5px;
}
