// Place all the styles related to the diagnosis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diagnosis-index-container {
  margin-top: 35px;
  text-align: center;
}

.img-heart-rate {
  height: 25%;
  width: 25%;
  margin-bottom: 1vh;
}

.diagnoses-header {
  font-size: 2em;
  color: #5c3f78;
}

.diagnoses-list {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  width: 100px;
  margin-bottom: 5px;
}

.diagnoses-list-index {
  font-size: 20px;
}

.new-diagnosis-container {
  margin-top: 35px;
  text-align: center;
}

.add-diagnosis-header {
  color: #5c3f78;
  margin-bottom: 2.5vh;
}

.diagnosis-name {
  font-size: 15px;
  margin: 7px 0;
  padding-right: 2px;
}

#diagnosis_name {
  background: #fff;
  border: 2px solid #ebebeb;
  padding: 0.5em;
  border-radius: 0.4vh;
  color: #4d3861;
}

.field {
  margin: 5px 0;
  padding: 3px;
}

input {
  background-image: linear-gradient(to right, #cdc6ff, #4d3861);
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 0.4vh;
  font-size: 1em;
  color: #fff;
}

.img-medical-record {
  width: 20%;
  margin-bottom: 15px;
}

.diagnoses-list-container {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  margin-top: 20px;
  align-content: center;
  align-items: center;
}

.diagnoses-list {
  background-image: linear-gradient(to right, #4d3861, #cdc6ff);
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #ebebeb;
  padding: 0;
}

.diagnosis {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagnosis a {
  color: rgb(226, 226, 226);
}

.diagnosis-name {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.diagnosis a:hover {
  text-decoration: none;
  color: #5c3f78;
}

.arrow {
  grid-column: 2/3;
}

.img-arrow-right {
  width: 40px;
  margin: 0;
  padding: 5px;
}

a {
  align-self: center;
}
