// Place all the styles related to the diagnosis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diagnosis-index-container {
  margin-top: 35px;
  text-align: center;
}

.img-heart-rate {
  height: 25%;
  width: 25%;
  margin-bottom: 15px;
}

.diagnoses-header {
  font-size: 35px;
}

.diagnoses-list {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  width: 100px;
}

.diagnoses-list-index {
  font-size: 20px;
}

.new-diagnosis-container {
  margin-top: 35px;
  text-align: center;
}

.add-diagnosis-header {
  margin-bottom: 10px;
}

.diagnosis-name {
  font-size: 15px;
  margin: 7px 0;
  padding-right: 2px;
}

#diagnosis_name {
  background: #fff;
  border: 2px solid #ebebeb;
  padding: 5px;
  border-radius: 3px;
}

.field {
  margin: 5px 0;
  padding: 3px;
}

input {
  background-image: linear-gradient(to right, #377ad3, #8de0fc);
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
}

.img-medical-record {
  width: 20%;
  margin-bottom: 15px;
}

.diagnoses-list-container {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  margin-top: 20px;
}

.diagnoses-list {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #ebebeb;
}

.diagnosis {
  grid-column: 1/2;
}

.diagnosis a:hover {
  text-decoration: none;
}

.arrow {
  grid-column: 2/3;
}

.img-arrow-right {
  width: 40px;
  margin: 0;
  padding: 5px;
}
