// Place all the styles related to the diets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diet-container {
  text-align: center;
}

.img-dish {
  width: 15vh;
  margin: 2vh;
}

.diet-header {
  font-size: 35px;
  text-align: center;
}

.doc-says-header {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}

.doc-says-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding-top: 5px;
  align-items: center;
}

.new-diet-container {
  text-align: center;
}

.diet-avoid {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: rgb(50, 133, 247);
  grid-column-start: 1;
  grid-row-start: 1;
}

.diet-eat {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: rgb(50, 133, 247);
  grid-column-start: 1;
  grid-row-start: 3;
  align-items: center;
}

.ul-diet-avoid {
  display: flex;
  font-size: 18px;
  grid-column-start: 1;
  grid-row-start: 2;
  justify-content: center;
  align-self: center;
}

.ul-diet-eat {
  display: flex;
  font-size: 18px;
  grid-column-start: 1;
  grid-row-start: 4;
  align-self: center;
  justify-content: center;
}
