body {
  background: linear-gradient(#cdc6ff, #4d3861);
}

.container {
  height: 99vh;
}

h1 {
  color: #5c3f78;
}

a {
  color: #fcfcfc;
}

a:hover {
  text-decoration: none;
}

p {
  color: #5c3f78;
  margin: 0;
}

input {
  border: 1px solid #fcfcfc;
  border-radius: 0.4vh;
}

// input:focus,
// textarea:focus {
//   box-shadow: 0 0 5px #bda8d1;
//   border: 1px solid #bda8d1;
// }

label {
  color: #5c3f78;
  margin: 0;
}

#doctor_image {
  margin-bottom: 0.4em;
}

#doctor_name {
  color: #666;
  margin-bottom: 0.4em;
  font-size: 1em;
}

#doctor_name::placeholder {
  color: #bda8d1;
  font-size: 1em;
}

#doctor_name_sign_up {
  color: #666;
  margin-top: 1.1em;
  margin-bottom: 0.4em;
  font-size: 1em;
}

#doctor_name_sign_up::placeholder {
  color: #bda8d1;
  font-size: 1em;
}

#doctor_email {
  color: #666;
  margin-bottom: 0.4em;
  font-size: 1em;
}

#doctor_email::placeholder {
  color: #bda8d1;
  font-size: 1em;
}

#doctor_specialization {
  color: #666;
  margin-bottom: 0.4em;
  font-size: 1em;
}

#doctor_specialization::placeholder {
  color: #bda8d1;
  font-size: 1em;
}

#doctor_password {
  margin-bottom: 0.4em;
  font-size: 1em;
}

#doctor_password::placeholder {
  color: #bda8d1;
  font-size: 1em;
}

#doctor_new_password {
  color: #666;
  font-size: 1em;
}

#doctor_new_password::placeholder {
  color: #bda8d1;
  font-size: 1em;
}

#doctor_password_confirmation {
  color: #666;
  margin-bottom: 0.4em;
  font-size: 1em;
}

#doctor_password_confirmation::placeholder {
  color: #bda8d1;
  font-size: 1em;
}

#doctor_current_password {
  color: #666;
  font-size: 1em;
}

#doctor_current_password::placeholder {
  color: #bda8d1;
  font-size: 1em;
}

#doctor_remember_me {
  width: auto;
  margin: 0.5vh 0.75vh 0.75vh 0;
  border: 1px solid #fcfcfc;
}

.remember-me {
  margin: 0;
  color: #5c3f78;
}

.remember-me-forgot-password-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.remember-me-wrapper {
  display: flex;
  margin: 0.4em 0.8em 0 0;
}

#patient_image {
  margin-bottom: 0.4em;
  font-size: 1em;
  padding: 0.2em;
  border: none;
  border-radius: 0.2em;
}

#patient_name {
  margin-bottom: 0.4em;
  font-size: 1em;
}

#patient_age {
  margin-bottom: 0.4em;
  font-size: 1em;
}

#patient_sex {
  margin-bottom: 0.4em;
  font-size: 1em;
}

#patient_email {
  margin-bottom: 0.4em;
  font-size: 1em;
}

#patient_password {
  margin-bottom: 0.4em;
  font-size: 1em;
}

#patient_password_confirmation {
  margin-bottom: 0.4em;
  font-size: 1em;
}

#form-control-bar {
  align: center;
  width: 80%;
  font-size: 1em;
}

.form-field-wrapper {
  font-size: 1em;
}

.form-field-error-msg {
  color: red;
}

.forgot-password-wrapper {
  margin-top: 0.4em;
  text-align: right;
}

.form-button {
  background: #4d3861;
}

.form-button:hover {
  background: #fcfcfc;
  color: #4d3861;
}

.link-wrapper {
  margin-top: 2vh;
}

.cancel-acct {
  margin-top: 0.4em;
}

.back-btn {
  margin-top: 0.4em;
}
