// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: linear-gradient(#9288a3, #fcfcfc);
  width: 100%;
  height: 99vh;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  height: 80vh;
  width: 100%;
}

.doc-says-header {
  font-family: "Lobster", cursive;
  font-size: 3em;
  color: #fcfcfc;
  margin-bottom: 2vh;
}

.home-query {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  color: #fcfcfc;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vh;
  margin-top: 3vh;
  text-align: center;
}

.btn-home {
  width: 20vh;
  padding: 0.7em;
  background-color: #675772;
  border-radius: 0.5vh;
  color: #fcfcfc;
}

a:hover {
  text-decoration: none;
  background-color: #9288a3;
  color: #53475e;
}
