// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: linear-gradient(#cdc6ff, #4d3861);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  height: 99vh;
  width: 100%;
}

.doc-says-header {
  font-family: "Major Mono Display", monospace;
  font-size: 3em;
  color: #fcfcfc;
  margin-bottom: 2vh;
}

.home-query {
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 0.1em;
  color: #fcfcfc;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vh;
  margin-top: 3vh;
  text-align: center;
}

.btn-home {
  width: 20vh;
  padding: 0.7em;
  background-color: #5c3f78;
  border-radius: 0.5vh;
  color: #fcfcfc;
}

a:hover {
  text-decoration: none;
  background-color: #fcfcfc;
  color: #5c3f78;
}
