// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-recipes-bar {
  align: center;
  width: 80%;
  font-size: 1em;
  margin-top: 2vh;
  border: 0.1vh solid #9288a3;
  border-radius: 0.1em;
}

#search-submit-button {
  width: 15%;
  font-size: 1em;
  background: #9288a3;
  border: 1px solid #9288a3;
  border-radius: 0.1em;
  font-size: 1em;
  color: #fcfcfc;
}
