// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipes-header {
  font-size: 2em;
  text-align: center;
  padding: 3vh 0 1vh 0;
}

.recipe-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
}

.recipe-image {
  grid-column-start: 1;
  width: 13vh;
  height: 13vh;
  padding: 1.75vh;
  border-radius: 0.2em;
}

.recipe {
  display: grid;
  justify-content: center;
  grid-template-columns: auto 1fr 15%;
  border: 1px solid #4d3861;
  margin: 0.5vh;
  border-radius: 0.2em;
}

img {
  border-radius: 0.2em;
}

.recipe-text {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 2vh;
}

.recipe-name {
  align-self: start;
  font-size: 0.9em;
  margin: 0;
}

.calories {
  font-size: 0.8em;
  margin-top: 1vh;
}

.like-btn {
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-heart {
  width: 2vh;
}

.container {
  padding: 0;
}

a {
  color: #4d3861;
}

a:hover {
  text-decoration: none;
}
